---
layout: default
title: Home
root: yes
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
    <span class="post-comment-count"><a href="{{post.id}}#disqus_thread" data-disqus-identifier="{{post.id}}">Leave a comment</a></span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older posts</a>
  {% else %}
    <span class="pagination-item older">Older posts</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer posts</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer posts</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer posts</span>
  {% endif %}
</div>

